name: Java CI with Maven in Linux

on:
   push:
   pull_request: 


jobs:
   build:
      runs-on: ubuntu-latest

      steps:
      -  uses: actions/checkout@v4
         with:
            fetch-depth: 0
      -  name: Set up JDK 17
         uses: actions/setup-java@v4
         with:
            java-version: 17
            distribution: temurin

      -  name: Cache Maven packages
         uses: actions/cache@v4
         with:
            path: ~/.m2
            key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/*.yml') }}
            restore-keys: ${{ runner.os }}-m2-

      -  name: Build with maven
         run: xvfb-run mvn verify

      -  name: Send coverage data to coveralls.io
         uses: coverallsapp/github-action@v2
         with:
            github-token: ${{ secrets.COVERALLS_TOKEN}}}