name: Java CI with Maven in Linux

on:
   push:
   pull_request: 


jobs:
   build:
      runs-on: ubuntu-latest

      steps:
      -  uses: actions/checkout@v4
         with:
            fetch-depth: 0
      -  name: Set up JDK 17
         uses: actions/setup-java@v4
         with:
            java-version: 17
            distribution: temurin

      -  name: Cache Maven packages
         uses: actions/cache@v4
         with:
            path: ~/.m2
            key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/*.yml') }}
            restore-keys: |
               ${{ runner.os }}-m2-

      -  name: Skip tests on purpose to see pom.xml downloads
         run: mvn clean verify -DskipTests