name: Java CI with Maven in Linux

on:
   push:
      branches: 
         - main

jobs:
   build:
      runs-on: ubuntu-latest
      steps:
      -  uses: actions/checkout@v4
         with:
            fetch-depth: 0

      -  name: Set up JDK 17
         uses: actions/setup-java@v4
         with:
            java-version: 17
            distribution: temurin

      -  name: Cache Maven & Sonar packages
         uses: actions/cache@v4
         with:
            path: |
               ~/.m2
               ~/.sonar/cache
            key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/*.yml') }}
            restore-keys: ${{ runner.os }}-m2-

      -  name: Build with Maven & Scan with Sonar
         env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
         run: >
                xvfb-run mvn -B verify
                sonar:sonar
                -Dsonar.host.url=https://sonarcloud.io
                -Dsonar.organization=dariopipa
                -Dsonar.projectKey=dariopipa_tdd-product-catalog
         
      -  name: Send coverage data to coveralls.io
         uses: coverallsapp/github-action@v2
         with:
            github-token: ${{ secrets.GITHUB_TOKEN }}
            
      - name: Generate the site
        run: mvn site
        
      - name: Archive the site generated
        uses: actions/upload-artifact@v4
        with:
          path: '**target/site'
        